html{
	height: 100%;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #B4A9D1;
}

main{
	width: 700px;
	height: 500px;
	display: grid;
	grid-template-rows: 1fr 5fr;
}

#factdisplay{
	border: 5px solid #592E83;
	padding: 30px;
	border-radius: 15px;
	background-color: #FFFFD6;
	color: #4D1C73;
	font-size: 20px;
	font-family: 'Helvetica';
	
}

#menu{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 10px;
	grid-gap: 10px;
}

#menu > input{
	background-color: #9984D4;
	color: #FFFFD6;
	font-size: 19px;
	font-family: 'Helvetica';
	border: 3px solid #8268CA;
	border-radius: 15px;
}

#menu > input:hover{
	background-color: #8268CA;
	color: #B9D6F2;
	border: 3px solid #5F40B5;
}

#snail{
	width: 380px;
	height: 220px;
}

#clouds{
	width: 380px;
	height: 220px;
}

#tomatoes{
	width: 310px;
	height: 190px;
}

#fly{
    width: 360px;
    height: 219px;
}

#gems{
    width: 380px;
    height: 220px;
}

#themes{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 10px;
	grid-gap: 10px;
}

#themes > input{
	background-color: #9984D4;
	color: #FFFFD6;
	font-size: 18px;
	font-family: 'Helvetica';
	border: 3px solid #8268CA;
	border-radius: 15px;
}

#themes > input:hover{
	background-color: #8268CA;
	color: #B9D6F2;
	border: 3px solid #5F40B5;
}